@import "normalize.css";
@import '../fonts/stylesheet.css';


$font-color-basic: #111111;
$font-color-link: #2a33f1;
$font-color-title: #111111;
$font-color-label: #7C7C7C;
$font-color-button: #ffffff;
$font-color-error: #FF2222;

$input-border-color-error: #FF2828;
$input-border-color: #F2F2F2;
$input-border-color-active: #979797;

$bg-button: #5A61ED;
$bg-sign-aside: #5A61ED;

$font-Work: "Work Sans", sans-serif;
$font-PT: "PT Sans", sans-serif;

$font-size-title: 1.375rem; //22px
$font-size-basic: 0.875rem; //14px
$font-size-label: 0.75rem; //12px
$font-size-link: 0.8125rem; //13px


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-Work;
  font-weight: 300;
  font-style: normal;
  font-size: $font-size-basic;
  color: $font-color-basic;
  background-color: #ffffff;
}

.sign-up {
  background: #F9FAFF;
}

.sign-up__container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 695px;
  margin: 0 auto;
  padding: 0 1.05em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0.857em .857em rgba(0, 0, 0, 0.2));
}

.sign-up__section {
  position: relative;
  width: 79.25%;
  padding: 2.8em 1.571em 2.25em 1.5em;
  background: #ffffff;
  overflow: hidden;
}

.sign-up__form-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
}

.sign-up__form-wrapper.hidden ~ .form__message {
  z-index: 1;
  opacity: 1;
  padding-bottom: 2.9em;
}

.sign-up__bg-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sign-up__header {
  margin-bottom: 1.3em;
}

.sign-up__title {
  margin: 0;
  padding: 0;
  font-size: $font-size-title;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.44px;
  color: $font-color-title;
}

.sign-up__subtitle {
  margin: 0;
  padding: 0;
  font-size: $font-size-basic;
  line-height: 1.2;
}

.sign-up__form {
  margin: 0;
  padding: 0;
}

.form__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5.8em;
}

.form__item {
  flex: 1 1 calc(50% - .536em);
  min-width: 150px;
  max-width: 270px;
}

.form__item:nth-child(2n-1) {
  margin-right: 1em;
}

.form__input-wrapper {
  position: relative;
  padding-top: .64em;
  margin-bottom: 1.2em;
}

.form__input-wrapper--flex {
  display: flex;
  align-items: center;
}

.form__label,
.form__input:focus ~ .form__label--anime,
.form__input.valid ~ .form__label--anime,
.form__input.invalid ~ .form__label--anime,
.drop-down--active ~ .form__label--anime {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0%);
  font-size: $font-size-label;
  color: $font-color-label;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}

.drop-down ~ .form__label--anime {
  z-index: 0;
}

.form__label--anime {
  padding-bottom: .571em;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  font-size: $font-size-basic;
  color: $font-color-basic;
  font-weight: normal;
  transition: all 0.3s linear;
  z-index: 0;
}

.form__input {
  width: 100%;
  margin-top: 0.2em;
  padding: .5em 0 .4em 0;
  position: relative;
  line-height: 1.14;
  font-weight: normal;
  background: transparent;
  border: none;
  border-bottom: 1px solid $input-border-color;
  transition: all 0.3s linear;
  z-index: 1;
}

.form__input:active,
.form__input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #979797;

}

.form__input.invalid {
  color: $font-color-error;
  border-bottom: $input-border-color-error 1px solid;
}


.form__input.valid ~ .valid-icon {

  &:after {
    content: "";
    display: inline-block;
    width: 11px;
    height: 8px;
    position: absolute;
    top: 53%;
    right: 0;
    background: url("../images/ok.svg") no-repeat;
  }
}

.form__input-error-massage {
  max-width: 100%;
  padding: 1px 0 0 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 8px;
  transform: translateY(100%);
  color: $font-color-error;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  transition: all 0.2s linear;
}

.form__input.invalid ~ .form__input-error-massage {
  opacity: 1;
}

.form__radio.invalid ~ .form__input-error-massage {
  opacity: 1;
  max-width: 200%;
  width: max-content;
}


// Custom selector -- start

.form__select {
  display: none;
}

.drop-down {
  display: inline-block;
  position: relative;
  width: 100%;
}

.drop-down--active .drop-down__button {
  outline: none;
  border: none;
  border-bottom: 1px solid #979797;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drop-down__button {
  position: relative;
  text-align: left;
  cursor: pointer;

  span {
    opacity: 0;
    color: transparent;
    visibility: hidden;
  }

  &:after {
    content: '';
    width: .57em;
    height: .357em;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    background-image: url('../images/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s linear;
  }
}

.drop-down__menu-box {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  border-radius: .286em;
  box-shadow: 0 .2em .4em 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  margin-top: 5px;
}

.drop-down__menu {
  margin: 0;
  padding: 0;
  list-style: none;

}

.drop-down__menu-box:before {
  content: '';
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: .57em solid transparent;
  border-bottom: .57em solid #fff;
  border-top: .57em solid transparent;
  top: 1.07em;
  right: 1.286em;

}

.drop-down__menu-box:after {
  content: '';
  background-color: transparent;
}

.drop-down__item {
  font-size: .714em;
  padding: .7em;
  text-align: left;
  font-weight: 500;
  color: $font-color-label;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e0e2e9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drop-down__item:hover {
  color: $bg-sign-aside;
}

.drop-down__item:last-of-type {
  border-bottom: 0;
}


.drop-down--active .drop-down__menu-box {
  visibility: visible;
  opacity: 1;
  margin-top: 0.4em;
  z-index: 2;
}

.drop-down--active .drop-down__menu-box-nationality {
  z-index: 3;
}

.drop-down--active .drop-down__button {
  &:after {
    transform: rotate(180deg);
  }
}

.drop-down__item:before {
  content: '';
  position: absolute;
  width: .23em;
  height: 2.15em;
  background-color: $bg-sign-aside;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.drop-down__item:hover:before {
  display: block;
}

.drop-down__menu {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}

.drop-down__menu::-webkit-scrollbar {
  width: 4px;
}

.drop-down__menu::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

.drop-down__menu::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: $bg-sign-aside;
}

.drop-down__menu {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}

.drop-down__menu::-webkit-scrollbar {
  width: 4px;
}

.drop-down__menu::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

.drop-down__menu::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: $bg-sign-aside;
}

// Custom selector -- End


// Custom radio -- Start

.form__radio {
  display: none;
}

.form__radio-label {
  display: inline-block;
  margin-top: 0.2em;
  margin-right: 1.45em;
  padding: 0.5em 0 0.6em 1.2em;
  position: relative;
  line-height: 1.14;
  font-weight: normal;
  background: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
}

.form__radio-label:hover {
  border: none;
}

.form__radio-label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
  background: no-repeat center url(../images/radio-off.svg);
  background-size: contain;
}

/* Error */
.form__radio.invalid + label:before {
  background: no-repeat center url(../images/radio-error.svg);
}

/* Checked */
.form__radio:checked + label:before {
  background: no-repeat center url(../images/radio-on.svg);
}

/* Hover */
.form__radio-inner label:hover:before {
  filter: brightness(120%);
}

/* Disabled */
.form__radio:disabled + label:before {
  filter: grayscale(100%);
}

// Custom radio -- End


// Custom calendar --Start

.drop-down__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-down__select-day {
  flex: 0 1 23.66%;

}

.drop-down__select-month {
  flex: 0 0 38.7%;

}

.drop-down__select-year {
  flex: 0 1 28.7%;
}

.drop-down__menu-calendar {
  .drop-down__item {
    text-align: center;
  }
}

// Custom calendar --  End


input[type="password"] {
  padding: .437em 0 .2em 0;
  font-family: $font-PT;
  font-style: normal;
  font-weight: 400;
  font-size: 1.144em;
  line-height: 1.2;
  letter-spacing: .0625em;
}


// form__bottom --  Start

.form__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.form__bottom-link {
  margin-right: 2em;
  font-size: $font-size-link;
}

.form__bottom-text {
  display: inline-block;
  margin: 0 0.27em 0 0;
  padding: 0.4em 0 0.7em 0;
}

.link__login {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border: none;
  background: transparent;

  svg {
    transition: all 0.1s linear;
    fill: $font-color-link;
  }
}

.link__login:hover {

  svg {
    fill: #5A61EDFF;
  }

}

.button {
  display: inline-block;
  padding: 0.5em 1.9em 0.6em 1.8em;
  font-weight: 400;
  font-family: $font-PT;
  color: #ffffff;
  background: $bg-sign-aside;
  border: none;
  cursor: pointer;
  transition: all .3s linear;
  position: relative;
  z-index: 1;
}

// form__bottom --  End


// form message block --Start

.form__message {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  padding: 2.9em 1.571em 2.357em 1.5em;
  opacity: 0;
  transition: all 0.2s linear;
  z-index: -1;
  overflow: hidden;
}

.message__wrapper {
  position: absolute;
  top: 45%;
  left: 0;
  overflow: hidden;
  padding-left: 4.5em;
}

.message__title {
  margin: 0 0 0.4em 0;
  padding: 0;
  font-size: $font-size-title;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.021em;
}

.message__text {
  margin: 0 0 11px 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.43em;
}

// form message block --End


// BUTTON actions --Start


.button:hover {

  transform: translateY(3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:focus-visible {
  transform: translateY(3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button.error {
  -moz-animation: rocking 2s linear;
  -webkit-animation: rocking 2s linear;
}

@-moz-keyframes rocking {
  35% {
    transform: rotate(0) translate(0, 0);
  }
  40% {
    transform: rotate(5deg) translate(0, -2px);
  }
  45% {
    transform: rotate(-3deg) translate(0, -2px);
  }
  50% {
    transform: rotate(5deg) translate(0, -2px);
  }
  55% {
    transform: rotate(-3deg) translate(0, -2px);
  }
  60% {
    transform: rotate(5deg) translate(0, -2px);
  }
  65% {
    transform: rotate(-3deg) translate(0, -2px);
  }
  70% {
    transform: rotate(0) translate(0, 0);
  }
}

@-webkit-keyframes rocking {
  35% {
    transform: rotate(0) translate(0, 0);
  }
  40% {
    transform: rotate(5deg) translate(0, -2px);
  }
  45% {
    transform: rotate(-3deg) translate(0, -2px);
  }
  50% {
    transform: rotate(5deg) translate(0, -2px);
  }
  55% {
    transform: rotate(-3deg) translate(0, -2px);
  }
  60% {
    transform: rotate(5deg) translate(0, -2px);
  }
  65% {
    transform: rotate(-3deg) translate(0, -2px);
  }
  70% {
    transform: rotate(0) translate(0, 0);
  }
}

// BUTTON actions --End


// sign-up__aside --Start

.sign-up__aside {
  position: relative;
  width: 20.75%;
  background: $bg-sign-aside;
}

.sign-up__aside-title {
  padding: 0 0 5px 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 47.5%;
  font-family: $font-PT;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 1.286;
  color: #ffffff;
  letter-spacing: 0.5px;
  white-space: nowrap;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

// sign-up__aside --End


// Animation svg background --Start

.svg__big-line {
  stroke-dasharray: 1455px;
  stroke-dashoffset: 2910px;
  animation: anime__big-line 4s linear 5s forwards;
}

.svg__small-line {
  stroke-dasharray: 325px;
  stroke-dashoffset: 650px;
  animation: svg__small-line 2s linear 9s forwards;
}

@keyframes anime__big-line {
  to {
    stroke-dashoffset: 1455px;
  }
}

@keyframes svg__small-line {
  to {
    stroke-dashoffset: 325px;
  }
}

// Animation svg background --End


// Lift Animation -Start

.lift-animation:nth-child(1) {
  animation: lift 0.5s backwards 0.2s;
}

.lift-animation:nth-child(2) {
  animation: lift 0.5s backwards 0.7s;
}

.lift-animation:nth-child(3) {
  animation: lift 0.5s backwards 1.2s;
}

.lift-animation:nth-child(4) {
  animation: lift 0.5s backwards 1.7s;
}

.lift-animation:nth-child(5) {
  animation: lift 0.5s backwards 2.2s;
}

.lift-animation:nth-child(6) {
  animation: lift 0.5s backwards 2.7s;
}

.lift-animation:nth-child(7) {
  animation: lift 0.5s backwards 3.2s;
}

.lift-animation:nth-child(8) {
  animation: lift 0.5s backwards 3.7s;
}

.lift-animation-btn {
  animation: lift 0.5s backwards 4.2s;
}

@keyframes lift {
  from {
    opacity: 0;
    transform: translateY(15em);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



// @Media --Start

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
  .form__item {
    flex: 0 0 100%;

    &:nth-child(2n-1) {
     margin-right: 0;
    }

  }

}

// @Media --End